<div class="place" ng-controller="PlaceController">

  <!-- Place -->
  <div class="top-fold" style="background-image: url('../static/images/default.png')">
    <a href="#" ng-click="displayGallery(0)">
      <div class="overlay">
        <div class="container-fluid">
          <!-- Hero image-->
          <div class="row">
            <div class="col-xs-16">
              <div class="title text-center">
                <h1 class="white">{{place.name}}</h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="pull-left">
                <a href="/profile/john.smith">
                  <img class="img-rounded" src="../static/images/default.png" width="50px">
                </a>
                &nbsp;
                <a href="/profile/john.smith">
                  <span class="h4 white">John Smith</span>
                </a>
              </div>
              <ul class="list-inline pull-right">
                <li><a href=""><span class="fa fa-heart fa-2x action-icon"></span></a></li>
                <li><a href=""><span class="fa fa-share fa-2x action-icon"></span></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <!-- Description & Products -->
      <div class="col-xs-12 col-sm-8">
        <br>

        <div class="description">
          <p>{{place.description}}</p>
        </div>

        <hr>

        <div class="row">
          <div class="requirement" ng-repeat="requirement in place.requirements">
            <div class="col-xs-3">
              <div class="text-center">
                <h3><span class="fa fa-automobile fa-2x"></span></h3>
                <h5>{{requirement.name}}</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="amenity" ng-repeat="amenity in place.amenities">
          <h3>{{amenity.name}}</h3>

          <p>{{amenity.description}}</p>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-6">
            <div class="text-center">
              <h3>{{place.duration | humanize}}</h3>
              <h5>DURATION</h5>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="text-center">
              <h3>{{place.price.amount | currency: place.price.currency}}</h3>
              <h5>COST</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-block btn-blue">Add to travel</button>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <a href="#" ng-click="displayGallery(0)">
              <img class="img-responsive" src="../static/images/default.png">
            </a>
          </div>
          <div class="col-xs-6">
            <a href="#" ng-click="displayGallery(0)">
              <img class="img-responsive" src="../static/images/default.png">
            </a>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-12">
            <a href="#" ng-click="displayGallery(0)">
              <img class="img-responsive" src="../static/images/default.png">
            </a>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <a href="#" ng-click="displayGallery(0)">
              <img class="img-responsive" src="../static/images/default.png">
            </a>
          </div>
          <div class="col-xs-6">
            <a href="#" ng-click="displayGallery(0)">
              <img class="img-responsive" src="../static/images/default.png">
            </a>
          </div>
        </div>

        <br>
      </div>
    </div>
  </div>
</div>

<!-- PhotoSwipe:  Root element of PhotoSwipe. Must have class pswp-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory. -->
    <!-- Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>