<div class="place" ng-controller="PlaceController">

  <!-- Place -->
  <div class="top-fold" style="background-image: url('../static/images/default.png')">
    <div class="overlay">
      <div class="container-fluid">
        <!-- Hero image-->
        <div class="row">
          <div class="col-xs-16">
            <div class="title text-center">
              <h1 class="name">{{place.name}}</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <a href="/profile/john.smith">
                <img class="img-rounded" src="../static/images/default.png" width="50px">
              </a>
              &nbsp;
              <a href="/profile/john.smith">
                <span class="h4 white">John Smith</span>
              </a>
            </div>
            <ul class="list-inline pull-right">
              <li><a href=""><span class="fa fa-heart fa-2x action-icon"></span></a></li>
              <li><a href=""><span class="fa fa-share fa-2x action-icon"></span></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Description & Products -->
      <div class="col-xs-12 col-sm-8">
        <br>

        <div class="description">
          <p>{{place.description}}</p>
        </div>

        <hr>

        <div class="row">
          <div class="requirement" ng-repeat="requirement in place.requirements">
            <div class="col-xs-3">
              <div class="text-center">
                <h3><span class="fa fa-automobile fa-2x"></span></h3>
                <h5>{{requirement.name}}</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="amenity" ng-repeat="amenity in place.amenities">
          <h3>{{amenity.name}}</h3>

          <p>{{amenity.description}}</p>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-6">
            <div class="text-center">
              <h3>{{place.duration | humanize}}</h3>
              <h5>DURATION</h5>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="text-center">
              <h3>{{place.price.amount | currency: place.price.currency}}</h3>
              <h5>COST</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-block btn-blue">Add to travel</button>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <img class="img-responsive" src="../static/images/default.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="../static/images/default.png">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-12">
            <img class="img-responsive" src="../static/images/default.png">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-6">
            <img class="img-responsive" src="../static/images/default.png">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="../static/images/default.png">
          </div>
        </div>

        <br>
      </div>
    </div>
  </div>
</div>