<div class="profile" ng-controller="ProfileController">

  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="img-responsive" src="../static/images/default.png">
      </div>
      <div class="col-sm-9">
        <h4>{{profile.name}}</h4>
        <p>{{profile.bio}}</p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <div class="logs">
          Logs here
        </div>
      </div>
    </div>
  </div>
</div>