<div class="footer" ng-controller="FooterController">
  <div class="container-fluid">

    <!-- Sitemap -->
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    </div>

    <!-- Copyrights -->
    <div class="row">
      <div class="col-xs-8">
        <ul class="list-inline no-margin">
          <li>© 2015 kaleidoscope</li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/tos">Terms</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>

      <div class="col-xs-4">
        <ul class="list-inline no-margin pull-right">
          <li><a href="https://twitter.com/heykitkit" target="_blank"><span class="fa fa-twitter"></span></a></li>
          <li><a href="https://www.facebook.com/heykitkit" target="_blank"><span class="fa fa-facebook"></span></a></li>
          <li><a href="" target="_blank"><span class="fa fa-pinterest"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>